body{
  background: #181818;
  margin: 0;
}

img{
  display: none;
}

#canvas{
  border: solid 1px;
}

canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}